@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgb(253, 172, 226) , rgb(235, 72, 154) );
}

.container {
    background-color:rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(3, 3, 3, 0.993);
    width: 100%;
    min-height: 30vh;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task {
    display: flex;
    margin-bottom: 200px;
    padding: 10px;
    flex: 1;
}
.new-task {
    padding: 9.4px;
    height: 40px;
    width: 400px;
    border-radius: 5px 0 0 5px;;
}

.task-button {
    background-color: royalblue;
    border-radius: 5px 0 0 5px;
    border: none;
    padding: 10px;
}



